src/test/resources/schema/arrayschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:mySpecialElement="http://ethlo.com/schema/array-test-1.0.xsd"
	elementFormDefault="qualified" targetNamespace="http://ethlo.com/schema/array-test-1.0.xsd"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<complexType name="foo">
		<sequence>
			<element minOccurs="0" name="Price" type="decimal" />
			<element minOccurs="0" name="Name" type="string" />
			<element minOccurs="0" name="IsExpired" type="boolean" />
		</sequence>
	</complexType>
</schema>
