src/test/resources/schema/cmts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="qualified" elementFormDefault="qualified"
        targetNamespace="http://cableapi.cablelabs.com/schemas/v1/CMTS"
        xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmts="http://cableapi.cablelabs.com/schemas/v1/CMTS">
    <element name="CMTS" type="cmts:CMTS"/>
    <complexType name="CMTS">
        <sequence>
            <element minOccurs="0" name="id" type="string"/>
            <element minOccurs="0" name="link" type="cmts:Link"/>
            <element minOccurs="0" name="accountNumber" type="string"/>
            <element minOccurs="0" name="name" type="string"/>
            <element minOccurs="0" name="type">
                <annotation>
                    <documentation>Individual, Joint, Other</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="Individual"/>
                        <enumeration value="Joint"/>
                        <enumeration value="Other"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="pin" type="int"/>
            <element minOccurs="0" name="status">
                <annotation>
                    <documentation>Active, Suspended, Inactive, Closed</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="Active"/>
                        <enumeration value="Suspended"/>
                        <enumeration value="Inactive"/>
                        <enumeration value="Closed"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="financialStatus">
                <annotation>
                    <documentation>Current, Due ,InArrears, Delinquent</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="Current"/>
                        <enumeration value="Due"/>
                        <enumeration value="InArrears"/>
                        <enumeration value="Delinquent"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="creditLimit" type="int"/>
            <element minOccurs="0" name="customer" type="cmts:CustomerSummary"/>
            <element minOccurs="0" name="serviceAddress" type="cmts:PropertyAddress"/>
            <element minOccurs="0" name="primaryUser" type="cmts:UserSummary"/>
            <element minOccurs="0" name="users">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0"
                                 name="UserSummary" type="cmts:UserSummary"/>
                    </sequence>
                </complexType>
            </element>
            <element minOccurs="0" name="financials" type="cmts:FinancialSummary"/>
            <element minOccurs="0" name="billing" type="cmts:BillingSummary"/>
            <element minOccurs="0" name="payments" type="cmts:PaymentSummary"/>
            <element minOccurs="0" name="products">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0"
                                 name="ProductSummary" type="cmts:ProductSummary"/>
                    </sequence>
                </complexType>
            </element>
            <element minOccurs="0" name="devices">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0"
                                 name="DeviceSummary" type="cmts:DeviceSummary"/>
                    </sequence>
                </complexType>
            </element>
            <element minOccurs="0" name="taxExemptions" type="cmts:TaxExemptions"/>
            <element minOccurs="0" name="sites">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0"
                                 name="SiteSummary" type="cmts:SiteSummary"/>
                    </sequence>
                </complexType>
            </element>
            <element minOccurs="0" name="preferences">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0"
                                 name="PreferenceSummary" type="cmts:PreferenceSummary"/>
                    </sequence>
                </complexType>
            </element>
            <element minOccurs="0" name="relatedAccounts">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0"
                                 name="AccountSummary" type="cmts:AccountSummary"/>
                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>
    <complexType name="Link">
        <attribute name="href" type="string"/>
        <attribute name="rel" type="string"/>
        <attribute name="title" type="string"/>
        <attribute name="method" type="string"/>
        <attribute name="type" type="string"/>
    </complexType>
    <complexType name="CustomerSummary">
        <sequence>
            <element minOccurs="0" name="id" type="string"/>
            <element minOccurs="0" name="link" type="cmts:Link"/>
            <element minOccurs="0" name="customerId" type="string"/>
            <element minOccurs="0" name="name" type="string"/>
            <element minOccurs="0" name="status" type="string"/>
            <element minOccurs="0" name="customerRank" type="string"/>
        </sequence>
    </complexType>
    <complexType name="PropertyAddress">
        <sequence>
            <element name="id" type="string"/>
            <element name="link" type="cmts:Link"/>
            <element minOccurs="0" name="formattedAddressLine1" type="string"/>
            <element minOccurs="0" name="formattedAddressLine2" type="string"/>
            <element minOccurs="0" name="locality" type="string"/>
            <element minOccurs="0" name="state_province" type="string"/>
            <element minOccurs="0" name="country" type="string"/>
            <element minOccurs="0" name="postalcode" type="string"/>
            <element minOccurs="0" name="postcodeExtension" type="string"/>
            <element minOccurs="0" name="property" type="cmts:Property"/>
        </sequence>
    </complexType>
    <complexType name="UserSummary">
        <sequence>
            <element name="id" type="string"/>
            <element name="link" type="cmts:Link"/>
            <element minOccurs="0" name="username" type="string"/>
            <element minOccurs="0" name="name" type="string"/>
            <element minOccurs="0" name="status" type="string"/>
            <element minOccurs="0" name="profile" type="cmts:PartySummary"/>
        </sequence>
    </complexType>
    <complexType name="FinancialSummary">
        <sequence>
            <element minOccurs="0" name="currentBalance" type="string"/>
            <element minOccurs="0" name="priorBilledAmount" type="string"/>
            <element minOccurs="0"
                     name="currentPeriodPaymentsAdjustment" type="string"/>
            <element minOccurs="0" name="currentPeriodChargesCredits" type="string"/>
        </sequence>
    </complexType>
    <complexType name="BillingSummary">
        <sequence>
            <element minOccurs="0" name="id" type="string"/>
            <element minOccurs="0" name="link" type="cmts:Link"/>
        </sequence>
    </complexType>
    <complexType name="PaymentSummary">
        <sequence>
            <element minOccurs="0" name="id" type="string"/>
            <element minOccurs="0" name="link" type="cmts:Link"/>
        </sequence>
    </complexType>
    <complexType name="ProductSummary">
        <sequence>
            <element name="id" type="string"/>
            <element name="link" type="cmts:Link"/>
            <element name="name" type="string"/>
            <element name="isBundle" type="boolean"/>
            <element name="description" type="string"/>
            <element name="productStatus" type="string"/>
            <element name="productSerialNumber" type="string"/>
        </sequence>
    </complexType>
    <complexType name="DeviceSummary">
        <sequence>
            <element name="id" type="string"/>
            <element name="link" type="cmts:Link"/>
            <element name="name" type="string"/>
            <element name="type" type="string"/>
            <element name="macAddress" type="string"/>
        </sequence>
    </complexType>
    <complexType name="TaxExemptions">
        <sequence>
            <element minOccurs="0" name="id" type="string"/>
            <element minOccurs="0" name="link" type="cmts:Link"/>
        </sequence>
    </complexType>
    <complexType name="SiteSummary">
        <sequence>
            <element name="id" type="string"/>
            <element name="link" type="cmts:Link"/>
            <element name="name" type="string"/>
            <element name="multiTenant" type="boolean"/>
            <element name="clliCode" type="string"/>
            <element name="siteHours" type="string"/>
            <element name="status">
                <annotation>
                    <documentation>Active, Off, Pending</documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="Active"/>
                        <enumeration value="Off"/>
                        <enumeration value="Pending"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="PreferenceSummary">
        <sequence>
            <element name="id" type="string"/>
            <element name="link" type="cmts:Link"/>
            <element name="preferenceName" type="string"/>
            <element name="value" type="string"/>
            <element name="unitOfMeasure" type="string"/>
            <element name="valueType" type="string"/>
            <element name="isSet" type="boolean"/>
            <element name="preferenceCategory" type="cmts:PreferenceCategory"/>
        </sequence>
    </complexType>
    <complexType name="PreferenceCategory">
        <sequence>
            <element name="preferenceCategoryId" type="string"/>
            <element name="description" type="string"/>
            <element name="preferenceCategoryName" type="string"/>
        </sequence>
    </complexType>
    <complexType name="AccountSummary">
        <sequence>
            <element name="id" type="string"/>
            <element name="link" type="cmts:Link"/>
            <element name="name" type="string"/>
        </sequence>
    </complexType>
    <complexType name="Property">
        <sequence>
            <element name="id" type="string"/>
            <element minOccurs="0" name="link" type="cmts:Link"/>
            <element minOccurs="0" name="lotNr" type="string"/>
            <element minOccurs="0" name="landUse" type="string"/>
            <element minOccurs="0" name="landCover" type="string"/>
            <element minOccurs="0" name="elevation" type="string"/>
            <element minOccurs="0" name="name" type="string"/>
            <element minOccurs="0" name="naturalRisks" type="string"/>
            <element minOccurs="0" name="geometry" type="cmts:Geometry"/>
            <element minOccurs="0" name="propertyAddresses">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0"
                                 name="PropertyAddress" type="cmts:PropertyAddress"/>
                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>
    <complexType name="PartySummary">
        <sequence>
            <element name="id" type="string"/>
            <element name="link" type="cmts:Link"/>
            <element name="name" type="string"/>
        </sequence>
    </complexType>
    <complexType name="Geometry">
        <sequence>
            <element minOccurs="0" name="id" type="string"/>
        </sequence>
    </complexType>
</schema>