src/test/resources/schema/cmts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="qualified" elementFormDefault="qualified"
    targetNamespace="http://cableapi.cablelabs.com/schemas/v1/CMTS"
    xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cmts="http://cableapi.cablelabs.com/schemas/v1/CMTS">
    <element name="CMTS" type="cmts:CMTS"/>
    <complexType name="CMTS">
        <sequence>
            <element minOccurs="0" name="Id" type="string"/>
            <element minOccurs="0" name="link" type="cmts:Link"/>
            <element minOccurs="0" name="AccountNumber" type="string"/>
            <element minOccurs="0" name="Name" type="string"/>
            <element minOccurs="0" name="Type">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="Individual"/>
                        <enumeration value="Joint"/>
                        <enumeration value="Other"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="Pin" type="int"/>
            <element minOccurs="0" name="Status">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="Active"/>
                        <enumeration value="Suspended"/>
                        <enumeration value="Inactive"/>
                        <enumeration value="Closed"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="FinancialStatus">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="Current"/>
                        <enumeration value="Due"/>
                        <enumeration value="InArrears"/>
                        <enumeration value="Delinquent"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="CreditLimit" type="int"/>
            <element minOccurs="0" name="Customer" type="cmts:CustomerSummary"/>
            <element minOccurs="0" name="ServiceAddress" type="cmts:PropertyAddress"/>
            <element minOccurs="0" name="PrimaryUser" type="cmts:UserSummary"/>
            <element minOccurs="0" name="Users">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0"
                            name="UserSummary" type="cmts:UserSummary"/>
                    </sequence>
                </complexType>
            </element>
            <element minOccurs="0" name="Financials" type="cmts:FinancialSummary"/>
            <element minOccurs="0" name="Billing" type="cmts:BillingSummary"/>
            <element minOccurs="0" name="Payments" type="cmts:PaymentSummary"/>
            <element minOccurs="0" name="Products">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0"
                            name="ProductSummary" type="cmts:ProductSummary"/>
                    </sequence>
                </complexType>
            </element>
            <element minOccurs="0" name="Devices">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0"
                            name="DeviceSummary" type="cmts:DeviceSummary"/>
                    </sequence>
                </complexType>
            </element>
            <element minOccurs="0" name="TaxExemptions" type="cmts:TaxExemptions"/>
            <element minOccurs="0" name="Sites">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0"
                            name="SiteSummary" type="cmts:SiteSummary"/>
                    </sequence>
                </complexType>
            </element>
            <element minOccurs="0" name="Preferences">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0"
                            name="PreferenceSummary" type="cmts:PreferenceSummary"/>
                    </sequence>
                </complexType>
            </element>
            <element minOccurs="0" name="RelatedAccounts">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0"
                            name="AccountSummary" type="cmts:AccountSummary"/>
                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>
    <complexType name="Link">
        <attribute name="href" type="string"/>
        <attribute name="rel" type="string"/>
        <attribute name="title" type="string"/>
        <attribute name="method" type="string"/>
        <attribute name="type" type="string"/>
    </complexType>
    <complexType name="CustomerSummary">
        <sequence>
            <element minOccurs="0" name="Id" type="string"/>
            <element minOccurs="0" name="link" type="cmts:Link"/>
            <element minOccurs="0" name="CustomerId" type="string"/>
            <element minOccurs="0" name="Name" type="string"/>
            <element minOccurs="0" name="Status" type="string"/>
            <element minOccurs="0" name="CustomerRank" type="string"/>
        </sequence>
    </complexType>
    <complexType name="PropertyAddress">
        <sequence>
            <element name="Id" type="string"/>
            <element name="link" type="cmts:Link"/>
            <element minOccurs="0" name="FormattedAddressLine1" type="string"/>
            <element minOccurs="0" name="FormattedAddressLine2" type="string"/>
            <element minOccurs="0" name="Locality" type="string"/>
            <element minOccurs="0" name="State_province" type="string"/>
            <element minOccurs="0" name="Country" type="string"/>
            <element minOccurs="0" name="Postalcode" type="string"/>
            <element minOccurs="0" name="PostcodeExtension" type="string"/>
            <element minOccurs="0" name="Property" type="cmts:Property"/>
        </sequence>
    </complexType>
    <complexType name="UserSummary">
        <sequence>
            <element name="Id" type="string"/>
            <element name="link" type="cmts:Link"/>
            <element minOccurs="0" name="Username" type="string"/>
            <element minOccurs="0" name="Name" type="string"/>
            <element minOccurs="0" name="Status" type="string"/>
            <element minOccurs="0" name="Profile" type="cmts:PartySummary"/>
        </sequence>
    </complexType>
    <complexType name="FinancialSummary">
        <sequence>
            <element minOccurs="0" name="CurrentBalance" type="string"/>
            <element minOccurs="0" name="PriorBilledAmount" type="string"/>
            <element minOccurs="0"
                name="CurrentPeriodPaymentsAdjustment" type="string"/>
            <element minOccurs="0" name="CurrentPeriodChargesCredits" type="string"/>
        </sequence>
    </complexType>
    <complexType name="BillingSummary">
        <sequence>
            <element minOccurs="0" name="Id" type="string"/>
            <element minOccurs="0" name="link" type="cmts:Link"/>
        </sequence>
    </complexType>
    <complexType name="PaymentSummary">
        <sequence>
            <element minOccurs="0" name="Id" type="string"/>
            <element minOccurs="0" name="link" type="cmts:Link"/>
        </sequence>
    </complexType>
    <complexType name="ProductSummary">
        <sequence>
            <element name="Id" type="string"/>
            <element name="link" type="cmts:Link"/>
            <element name="Name" type="string"/>
            <element name="IsBundle" type="boolean"/>
            <element name="Description" type="string"/>
            <element name="ProductStatus" type="string"/>
            <element name="ProductSerialNumber" type="string"/>
        </sequence>
    </complexType>
    <complexType name="DeviceSummary">
        <sequence>
            <element name="Id" type="string"/>
            <element name="link" type="cmts:Link"/>
            <element name="Name" type="string"/>
            <element name="Type" type="string"/>
            <element name="MacAddress" type="string"/>
        </sequence>
    </complexType>
    <complexType name="TaxExemptions">
        <sequence>
            <element minOccurs="0" name="Id" type="string"/>
            <element minOccurs="0" name="link" type="cmts:Link"/>
        </sequence>
    </complexType>
    <complexType name="SiteSummary">
        <sequence>
            <element name="Id" type="string"/>
            <element name="link" type="cmts:Link"/>
            <element name="Name" type="string"/>
            <element name="MultiTenant" type="boolean"/>
            <element name="ClliCode" type="string"/>
            <element name="SiteHours" type="string"/>
            <element name="Status">
                <simpleType>
                    <restriction base="string">
                        <enumeration value="Active"/>
                        <enumeration value="Off"/>
                        <enumeration value="Pending"/>
                    </restriction>
                </simpleType>
            </element>
        </sequence>
    </complexType>
    <complexType name="PreferenceSummary">
        <sequence>
            <element name="Id" type="string"/>
            <element name="link" type="cmts:Link"/>
            <element name="PreferenceName" type="string"/>
            <element name="Value" type="string"/>
            <element name="UnitOfMeasure" type="string"/>
            <element name="ValueType" type="string"/>
            <element name="IsSet" type="boolean"/>
            <element name="PreferenceCategory" type="cmts:PreferenceCategory"/>
        </sequence>
    </complexType>
    <complexType name="PreferenceCategory">
        <sequence>
            <element name="PreferenceCategoryId" type="string"/>
            <element name="Description" type="string"/>
            <element name="PreferenceCategoryName" type="string"/>
        </sequence>
    </complexType>
    <complexType name="AccountSummary">
        <sequence>
            <element name="Id" type="string"/>
            <element name="link" type="cmts:Link"/>
            <element name="Name" type="string"/>
        </sequence>
    </complexType>
    <complexType name="Property">
        <sequence>
            <element name="Id" type="string"/>
            <element minOccurs="0" name="link" type="cmts:Link"/>
            <element minOccurs="0" name="LotNr" type="string"/>
            <element minOccurs="0" name="LandUse" type="string"/>
            <element minOccurs="0" name="LandCover" type="string"/>
            <element minOccurs="0" name="Elevation" type="string"/>
            <element minOccurs="0" name="Name" type="string"/>
            <element minOccurs="0" name="NaturalRisks" type="string"/>
            <element minOccurs="0" name="Geometry" type="cmts:Geometry"/>
            <element minOccurs="0" name="PropertyAddresses">
                <complexType>
                    <sequence>
                        <element maxOccurs="unbounded" minOccurs="0"
                            name="PropertyAddress" type="cmts:PropertyAddress"/>
                    </sequence>
                </complexType>
            </element>
        </sequence>
    </complexType>
    <complexType name="PartySummary">
        <sequence>
            <element name="Id" type="string"/>
            <element name="link" type="cmts:Link"/>
            <element name="Name" type="string"/>
        </sequence>
    </complexType>
    <complexType name="Geometry">
        <sequence>
            <element minOccurs="0" name="Id" type="string"/>
        </sequence>
    </complexType>
</schema>