src/test/resources/schema/dynRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://example.com/ns1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"  
	xmlns:foreign="http://example.com/foreign-1.0.xsd"
	elementFormDefault="qualified">

	<xs:import id="dynamicTypeImport" />

	<xs:element name="UpdateDataRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:long" />
				<xs:element name="payload" type="foreign:PayloadType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="UpdateDataResponse">
		<xs:complexType />
	</xs:element>
</xs:schema>