src/test/resources/schema/type.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://kezzler.com/schemas/custom">
	<complexType name="PayloadType">
		<sequence>
			<element minOccurs="0" name="batchId" type="string" />
			<element minOccurs="0" name="factoryId" type="string" />
			<element minOccurs="0" name="lineId" type="string" />
			<element minOccurs="0" name="productionStartDate" type="dateTime" />
			<element minOccurs="0" name="productionEndDate" type="dateTime" />
			<element minOccurs="0" name="gtin" type="string" />
		</sequence>
	</complexType>
</schema>